*.mnn
*.log
*.pdiparams
*.pdparams
.venv/**
*jpg
*JPG
*avif
*jpeg
*webp
*png
fonts/*
out/*
data/indic_eval/*
data/indic_corpus.txt
data/georgian_corpus.txt
data/georgian_corpus.bal.txt
data/indic_corpus.bal.txt
